<div{{ attributes }}>
    <!-- component html -->
       
    {{ form_start(form, {
         attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
     }) }}
        {{ form_row(form.name) }}
        {{ form_row(form.addCategory) }}
        {% if form.category is defined %}
            {{ form_row(form.category) }}
        {% endif %}
         <button
                type="submit"
                class="btn btn-primary {{ this.hasValidationErrors ? 'disabled' : '' }}"
            >Save</button>

            {{ form_rest(form) }}
       
    {{ form_end(form) }}
</div>
