{% extends 'base.html.twig' %}

{% block body %}
      <div class="container mt-5">
            <div class="card">
                <div class="card-header">Liste des Etudiants de la classe {{classe.nom}}</div>
                <div class="card-body">
                        <div class="table-responsive">
            <table
                class="table  mt-2 table-bordered table-striped"
            >
                <thead>
                    <tr>
                        <th scope="col">#</th>
                       <th scope="col">Matricule</th>
                        <th scope="col">Nom & Pernom</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
               
                {% for etudiant in etudiants %}
                    <tr class="">
                        <td scope="row">{{etudiant.id}}</td>
                            <td>{{etudiant.matricule}}</td>
                        <td>{{etudiant.nomComplet}}</td>
                        <td>
                           <a
                            name=""
                            id=""
                            class="btn btn-outline-dark"
                            href="#"
                            role="button"
                            >Details</a
                           >
                           
                        </td>
                    </tr>
                     
                     {% endfor %}   
                </tbody>
            </table>
            <nav aria-label="Page navigation ">
                <ul class="pagination  d-flex justify-content-end">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                   {% for page in 1..nbrePage %}
                      <li class="page-item  {{page==pageActive ? 'active' : ''}}"><a class="page-link" href="{{path('etudiant_classe_id',{id_client:idClasse})}}?page={{page}}">{{page}}</a></li>
                   {% endfor %}
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
          </div>
                </div>
               
            </div>
            
          
      </div>
      
{% endblock %}



